<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <add key="logicAppPath" value="UnmanagedFunc.exe" lockItem="true"/>
      <add key="MMFName" value="DemoExchangeMMF" lockItem="true"/>
      <add key="MMFCapacity" value="4096" lockItem="true"/>
      <add key="exitEventName" value="LogicExitResetEvent" lockItem="true"/>
      <add key="writeEventName" value="WriteResetEvent" lockItem="true"/>
      <add key="readEventName" value="ReadResetEvent" lockItem="true"/>
      <add key="commandTimeout" value="1800" lockItem="true"/>
      <add key="commandOffset" value="0" lockItem="true"/>
      <add key="resultOffset" value="100" lockItem="true"/>
    </appSettings>
</configuration>